{% extends 'shop/base.html' %}
{% block title %}{{request.user.get_full_name}}{% endblock title %}
{% block main-content %}
<div class="content-area">
    <div class="account-page">
        <div class="container">

            <div class="row">
                <div class="col-sm-3">
                    <h2>My Account</h2>
                    <ul>
                        <li class="active"><a href="{% url 'profile' %}">Account Control Panel</a></li>
                        <li><a href="{% url 'account_edit' request.user.username %}">Edit Personal Details</a></li>
                        <li><a href="{% url 'account_order' request.user.username %}">My All Orders</a></li>
                        <li><a href="{% url 'cart' request.user.username %}">My Carts Products</a></li>
                        <li><a href="{% url 'account_review' request.user.username %}">My Reviews and Ratings</a></li>
                        <li><a href="{% url 'show_address' request.user.username %}">All Addresses</a></li>
                    </ul>
                </div>
                <div class="col-sm-9">
                    <h2>Account Control Panel</h2>
                    <strong>Hello {{request.user.get_full_name}}</strong><br />
                    <div class="row">
                        <div>
                            <div class="well">
                                <h1 class="text-center text-info">Your Password has been changed successfully</h1>
                                <button><a href="{% url 'profile' %}">Show Your Profile</a></button>
                                <button><a href="{% url 'home' %}">Go to Homepage</a></button>
                                <button><a href="{% url 'products' %}">Shop More</a></button>
                                <div class="clearfix"></div>
                            </div>
                        </div>

                    </div>
                </div>
            </div> <!--End Row-->
        </div>
    </div> <!--End Account page div-->
</div> <!-- End content Area class -->
{% endblock main-content %}