{% extends 'shop/base.html' %}
{% block title %}{{request.user.get_full_name}}{% endblock title %}
{% block main-content %}
<div class="content-area">
    <div class="account-page">
        <div class="container">

            <div class="row">
                <div class="col-sm-9">
                    <h2>Account Control Panel</h2>
                    <strong>Hello {{request.user.get_full_name}}</strong><br />
                    <div class="row">
                        <div>
                            <div class="well">
                                <h2 class="text-center text-info">Password Reset Link has been sent to your email successfully. Please Check Your email.</h2>
                                <div class="clearfix"></div>
                            </div>
                        </div>

                    </div>
                </div>
            </div> <!--End Row-->
        </div>
    </div> <!--End Account page div-->
</div> <!-- End content Area class -->
{% endblock main-content %}